<a href="https://colab.research.google.com/github/BestChanyanart/Audio_Book_project----Data-Engineering/blob/master/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Collection with Python**

- Database 
- REST API

## **1. Get from MySQL Database**

### Install package for Connecting 'MySQL Database'

In [ ]:
! pip install pymysql

### Config DB Credential

In [ ]:
import os

class Config: 
  MYSQL_HOST = 'PUT_HOST_HERE' 
  MYSQL_PORT = 'PUT_PORT_HERE' 
  MYSQL_USER = 'PUT_USER_HERE'
  MYSQL_PASSWORD =  'PUT_PASS_HERE'  
  MYSQL_DB = 'PUT_DB_NAME_HERE'
  MYSQL_CHARSET = 'PUT_HERE'

In [ ]:
# Print for checking 
print(Config.MYSQL_PORT)

### Connect to DB

In [ ]:
import pymysql

# Connect to Database
connection = pymysql.connect(host = Config.MYSQL_HOST, 
                             port = Config.MYSQL_PORT,
                             user = Config.MYSQL_USER,
                             password = Config.MYSQL_PASSWORD, 
                             db = Config.MYSQL_DB, 
                             charset = Config.MYSQL_CHARSET, 
                             cursorclass = pymysql.cursors.DictCursor)

In [ ]:
connection

### List Tables

In [ ]:
# List all tables to look what we have in the table 
# 'show table' command

cursor = connection.cursor()
cursor.execute("show tables;") 
tables = cursor.fetchall() 
cursor.close()

print(tables)

[{'Tables_in_r2de2': 'audible_data'}, {'Tables_in_r2de2': 'audible_transaction'}]

### Query Table

In [ ]:
# Using 'with connection.cursor() as cursor:' to query data

with connection.cursor() as cursor:
  cursor.execute("SELECT * FROM audible_data;")
  result = cursor.fetchall()

print("Number of rows: ", len(result))

Number of rows:  2269

In [ ]:
result

In [ ]:
type(result)

list

### Convert to Pandas

In [ ]:
import pandas as pd

In [ ]:
audible_data = pd.DataFrame(result)

In [ ]:
type(audible_data)

pandas.core.frame.DataFrame

In [ ]:
audible_data

      Book_ID  ...    Price
0           1  ...  $29.65
1           2  ...  $24.95
2           3  ...  $41.99
3           4  ...  $29.65
4           5  ...  $29.65
...       ...  ...      ...
2264     2265  ...  $14.95
2265     2266  ...  $14.95
2266     2267  ...  $24.95
2267     2268  ...  $30.09
2268     2269  ...  $35.71

[2269 rows x 11 columns]

In [ ]:
# Convert Book_ID as index

audible_data = audible_data.set_index("Book_ID")

In [ ]:
audible_data

                                                Book Title  ...    Price
Book_ID                                                     ...
1                                      Bamboozled by Jesus  ...  $29.65
2                                       Sixth Realm Part 1  ...  $24.95
3                          Go Tell the Bees That I Am Gone  ...  $41.99
4                                   How the Word Is Passed  ...  $29.65
5                                      The Devil May Dance  ...  $29.65
...                                                    ...  ...      ...
2265                                            Kama Sutra  ...  $14.95
2266     Meditación Práctica para Principiantes [Prac...  ...  $14.95
2267                                             Forgotten  ...  $24.95
2268                                           The Missing  ...  $30.09
2269                                              Becoming  ...  $35.71

[2269 rows x 10 columns]

### Query with Pandas

In [ ]:
# Query by using read_sql() 
sql = "SELECT * FROM audible_transaction"
audible_transaction = pd.read_sql(sql, connection)

audible_transaction

                  timestamp   user_id  book_id                   country
0       2021-05-01 00:00:01  ad8eca41     1584                  Portugal
1       2021-05-01 00:00:03  561b26c1      829  United States of America
2       2021-05-01 00:00:04  81f149e5     1391                     Japan
3       2021-05-01 00:00:07  4f218413     1586                    Taiwan
4       2021-05-01 00:00:18  a4066781      300  United States of America
...                     ...       ...      ...                       ...
1998816 2021-07-31 23:59:47  72da1411      600                  Portugal
1998817 2021-07-31 23:59:48  620c27c8      462                Montenegro
1998818 2021-07-31 23:59:55  84fe88ab     1656  United States of America
1998819 2021-07-31 23:59:57  fd6cc4fc      522  United States of America
1998820 2021-07-31 23:59:59  9f4d5e3b      110  United States of America

[1998821 rows x 4 columns]

### Join table: audible_transaction & audible_data

- join with Primary key "Book_ID"

In [ ]:
transaction = audible_transaction.merge(audible_data, 
                                        how = "left", 
                                        left_on = "book_id", 
                                        right_on = "Book_ID")

In [ ]:
transaction

                  timestamp   user_id  ...  Total No. of Ratings    Price
0       2021-05-01 00:00:01  ad8eca41  ...               25863.0  $35.00
1       2021-05-01 00:00:03  561b26c1  ...                2441.0  $19.59
2       2021-05-01 00:00:04  81f149e5  ...               26781.0  $31.50
3       2021-05-01 00:00:07  4f218413  ...               11459.0  $19.95
4       2021-05-01 00:00:18  a4066781  ...                9305.0  $17.49
...                     ...       ...  ...                   ...      ...
1998816 2021-07-31 23:59:47  72da1411  ...               14344.0  $25.08
1998817 2021-07-31 23:59:48  620c27c8  ...               18764.0  $24.95
1998818 2021-07-31 23:59:55  84fe88ab  ...                7150.0  $31.95
1998819 2021-07-31 23:59:57  fd6cc4fc  ...               19401.0  $31.50
1998820 2021-07-31 23:59:59  9f4d5e3b  ...               73022.0  $20.52

[1998821 rows x 14 columns]

## **2. Get from REST API**

In [ ]:
! pip install requests

In [ ]:
import requests

### Requests Library

In [ ]:
url = 'https://r2de2-workshop-vmftiryt6q-ts.a.run.app/usd_thb_conversion_rate'
r = requests.get(url)

In [ ]:
# check Does it success?
r.status_code

200

In [ ]:
# To get JSON file
result_conversion_rate = r.json()
result_conversion_rate

In [ ]:
# To check Type of data - Is it dictionary type?
print(type(result_conversion_rate))
assert isinstance(result_conversion_rate, dict)

<class 'dict'>

### Convert to Pandas

In [ ]:
conversion_rate = pd.DataFrame(result_conversion_rate)

In [ ]:
conversion_rate

            conversion_rate
2021-04-01           31.194
2021-04-02           31.290
2021-04-03           31.256
2021-04-04           31.244
2021-04-05           31.342
...                     ...
2021-08-08           33.395
2021-08-09           33.464
2021-08-10           33.460
2021-08-11           33.145
2021-08-12           33.084

[134 rows x 1 columns]

In [ ]:
# Convert Index (date) to normal column  
conversion_rate = conversion_rate.reset_index().rename(columns={"index":"date"})
conversion_rate[:3]

         date  conversion_rate
0  2021-04-01           31.194
1  2021-04-02           31.290
2  2021-04-03           31.256

## JOIN data

- transaction
- conversion_rate

In [ ]:
transaction[:3]

            timestamp   user_id  book_id  ... Rating Total No. of Ratings    Price
0 2021-05-01 00:00:01  ad8eca41     1584  ...    4.6              25863.0  $35.00
1 2021-05-01 00:00:03  561b26c1      829  ...    4.8               2441.0  $19.59
2 2021-05-01 00:00:04  81f149e5     1391  ...    4.6              26781.0  $31.50

[3 rows x 14 columns]

In [ ]:
# To change 'timestamp' to date 
# Copy 'timestamp' to new column named 'date'

transaction['date'] = transaction['timestamp']

In [ ]:
# Change to date type in both transaction and conversion_rate
transaction['date'] = pd.to_datetime(transaction['date']).dt.date
conversion_rate['date'] = pd.to_datetime(conversion_rate['date']).dt.date

transaction.head()

In [ ]:
# JOIN data 
final_df = transaction.merge(conversion_rate, 
                             how = "left", 
                             left_on = "date",
                             right_on = "date")

In [ ]:
final_df[:3]

            timestamp   user_id  book_id  ...    Price        date conversion_rate
0 2021-05-01 00:00:01  ad8eca41     1584  ...  $35.00   2021-05-01           31.14
1 2021-05-01 00:00:03  561b26c1      829  ...  $19.59   2021-05-01           31.14
2 2021-05-01 00:00:04  81f149e5     1391  ...  $31.50   2021-05-01           31.14

[3 rows x 16 columns]

In [ ]:
# Convert 'Price' column from String to Float 
# Clean $ Dollar sign 

final_df['Price'] = final_df.apply(lambda x: x['Price'].replace('$',''), axis = 1)

In [ ]:
# Convert to Float Type
final_df['Price'] = final_df['Price'].astype(float)

final_df[:3]

            timestamp   user_id  book_id  ...  Price        date conversion_rate
0 2021-05-01 00:00:01  ad8eca41     1584  ...  35.00  2021-05-01           31.14
1 2021-05-01 00:00:03  561b26c1      829  ...  19.59  2021-05-01           31.14
2 2021-05-01 00:00:04  81f149e5     1391  ...  31.50  2021-05-01           31.14

[3 rows x 16 columns]

In [ ]:
final_df.dtypes

timestamp               datetime64[ns]
user_id                         object
book_id                          int64
country                         object
Book Title                      object
Book Subtitle                   object
Book Author                     object
Book Narrator                   object
Audio Runtime                   object
Audiobook_Type                  object
Categories                      object
Rating                          object
Total No. of Ratings           float64
Price                          float64
date                            object
conversion_rate                float64
dtype: object

In [ ]:
# Create new column "THBPrice"
final_df["THBPrice"] = final_df['Price'] * final_df['conversion_rate']

In [ ]:
final_df.tail()

                  timestamp   user_id  ...  conversion_rate    THBPrice
1998816 2021-07-31 23:59:47  72da1411  ...           32.887   824.80596
1998817 2021-07-31 23:59:48  620c27c8  ...           32.887   820.53065
1998818 2021-07-31 23:59:55  84fe88ab  ...           32.887  1050.73965
1998819 2021-07-31 23:59:57  fd6cc4fc  ...           32.887  1035.94050
1998820 2021-07-31 23:59:59  9f4d5e3b  ...           32.887   674.84124

[5 rows x 17 columns]

In [ ]:
# drop irrelevant column 

final_df = final_df.drop("date", axis=1)

## Save to CSV

In [ ]:
final_df.to_csv("output.csv", index=False)